<div class="navbar">
  <%= link_to "L'Ours Vert", root_path, class: "logo" %>
  <div class="nav-links">
    <%= link_to "NATURE", nature_path, class: "link" %>
    <%= link_to "LE MEUBLE", lemeuble_path, class: "link" %>
    <%= link_to "CULTURE & PATRIMOINE", cultureetpatrimoine_path, class: "link" %>
    <%= link_to "RESTAURATION", restauration_path, class: "link" %>
  </div>
  <div class="flags">french</div>
</div>
