<nav class="navbar homemade-nav navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <%= link_to root_path do %>
  <img src="https://res.cloudinary.com/drzqerfrt/image/upload/v1620217110/OV/logo_p3r3sa_n6tsww.png" alt="logo" class=" logo navbar-brand">
  <% end %>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
       <%= link_to "LE MEUBLE", lemeuble_path, class: "nav-item link" %>
       <%= link_to "CULTURE & PATRIMOINE", cultureetpatrimoine_path, class: "nav-item link" %>
       <%= link_to "NATURE", nature_path, class: "nav-item link" %>
       <%= link_to "RESTAURATION", restauration_path, class: "nav-item link" %>
       <%= link_to "TARIFS", tarifs_path, class: "nav-item link" %>
    </div>
  </div>
</nav>

