<div class="navbar">
  <%= link_to "L'Ours Vert", root_path, class: "logo" %>
  <div class="nav-links">
    <%= link_to "Nature", nature_path, class: "link" %>
    <%= link_to "Culture et patrimoine", cultureetpatrimoine_path, class: "link" %>
    <%= link_to "Restauration", restauration_path, class: "link" %>
    <%= link_to "Le meublé", lemeuble_path, class: "link" %>
  </div>
</div>
